@font-face {
    font-family: 'Source';
    font-style: normal;
    font-weight: 400;
    src: url(~/fonts/SourceSand.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
body{
    font-family: Source, sans-serif;
    font-size:20px;
}
.header{
    font-size:55px;
    text-align:center;
}
.desc{
    font-size:14px;
    display:block;
    margin-top:3px;
    margin-bottom:10px;
    color:#007ad3;
    text-indent:5px;
}
.image-buttons {
    background: none;
    margin: 5px auto;
    cursor: pointer;
    display: block;
    border: none;
}
.image-buttons img{
    display:block;
    height:75px;
    width:75px
}
.sector{
    margin:18px 0;
}
.argument-lit,.argument-fil,.argument-oth{
    border-bottom-width:3px;
    border-style:groove;
    margin-bottom:5px;
    border-radius:5px;
    padding-top:10px;
    position:relative;
}
.form-submit{
    padding:10px;
    font-size:25px;

}
.argument-lit {
    border-color: #fcbebe;
}
.argument-fil {
    border-color: #d5fcbe;
}
.argument-oth {
    border-color: #bed4fc;
}
label, input[type=text], textarea,select {
    font-size: 24px!important;
}
input[type=text]
{
    height:28px;
    padding:4px;
}
textarea
{
    padding:6px;
    height:50px;
}
.rem{
    position:absolute;
    top:5px;
    right:5px;
    background:none;
    border:none;
    font-size:18px;
    color:#830000;
}
.alert{
    display:none;
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    min-height:25px;
    background-color:red;
    color:white;
    font-size:20px;
    padding:10px;
}
.alert img {
    width: 50px;
    height: 50px;
    margin: 0px 10%;
    display: inline-block;
}
.alert label {
    font-size: 45px !important;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 25px;
}
.alert span{
    display:block;
    margin-top:2px;
    margin-bottom:2px;
}
.essay{
    margin-top:25px;
    margin-bottom:50px;
}
.essay h2{
    font-size:35px;
    text-align:center;
}
.essay h3{
    font-size:30px;
}
.essay h4{
    font-size:25px;
    text-indent:15px;
}
.essay .author{
    display:block;
    margin-right:20px;
    text-align:right;
}
.show-argument-lit, .show-argument-fil, .show-argument-oth{
    margin:50px 0;
}
.show-argument-lit h4{
    color:#830000;
}
.show-argument-fil h4 {
    color: #037a3c;
}
.show-argument-oth h4 {
    color: #3c7df6;
}
.lib-source{
    text-indent:5px;
    font-size:20px;
    font-style:italic;
}
.main
{
    margin:35px 0;
}
input,textarea{
    background-color:#ececec!important;
}
.min-essay{
    min-height:100px;
}
.min-title{
    display:block;
    text-align:center;
    font-size:24px;
    font-weight:bold;
}
.min-author {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: right;
}
.min-show {
    display: block;
    margin: 5px auto;
    background: #539fd7;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    width: 75px;
    text-align: center;
}
.min-show:hover {
    background: #007ad3;
}
.list-essay{
    margin-bottom:50px;
}
.list-essay:after{
    content:' ';
    display:block;
    clear:both;
}
.add-essay{
    color:#007ad3;
}
.search
{
    margin:15px 0;
}